{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/account.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
{% endblock %}

{% block content %}
<div class="account">
    <div class="account__icon">
        <img src="{{ object.icon_url }}">
    </div>
    <h2 class="account-username">
        {{ object.username }}
    </h2>
    <div class="account-detail">
        <div class="account-detail-video-count">
            <!-- ここ変更する必要あり -->
            <p>{{ object.video_count }} 本の動画</p>
        </div>
        <p>・</p>
        <div class="account-detail-following">
            <p>{{ object.follower_count }} 人のフォロワー</p>
        </div>
    </div>
    <div class="account-profile">
        <p class="account-profile-text">{{ object.profile }}</p>
        <p class="more-button">もっと見る...</p>
    </div>
    {% if object.id == request.user.id %}
    <div class="account-settings-btns">
        <div class="account-edit-profile-btn">プロフィールを編集</div>
        <div class="account-settings-btn"><i class="fa-solid fa-gear"></i></div>
    </div>
    {% else %}
    <div class="account-follow-btns">
        {% if object.is_follow %}
        <a href="{% url 'unfollow' object.id %}" class="account-following-btn btn-visible">フォロー中</a>
        {% else %}
        <a href="{% url 'follow' object.id %}" class="account-follow-btn">フォロー</a>
        {% endif %}
    </div>
    {% endif %}
    <div class="account-video-btns">
        <button class="search-button active">新着の動画</button>
        <button class="search-button">人気の動画</button>
    </div>
    <div class="video-container">

        {% for video in object.video.all %}
        <div class="video-list-container">
            <a class="video-information-container" href="{% url 'video_play' video.id %}">
                <div class="video-thumbnail-wrapper">
                    <img src="{% static 'main/img/sample.jpeg' %}">
                </div>
                <div class="video-detail-container">
                    <div class="text-wrapper">
                        <p class="video-title">{{video.title}}</p>
                        <div class="video-detail-wrapper">
                            <p class="video-views">{{video.views_count}}回視聴</p>
                            <span>・</span>
                            <p class="video-uploaded-at">{{video.get_elapsed_time}}</p>
                        </div>
                    </div>
                </div>
            </a>
            <div class="">
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- プロフィール編集画面 -->
<div class="edit-profile">
    <div class="edit-profile-title-container">
        <i class="fa-solid fa-xmark edit-profile-close"></i>
        <h1>プロフィールを編集</h1>
        <button type="submit" form="edit-form">保存</button>
    </div>
    <form action="{% url 'account' object.id %}" method="POST" id="edit-form" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="edit-form-containers">
            <div class="edit-icon">
                {{ form.icon }}
                <div class="account__icon">
                    <img id="preview" src="{% static 'main/img/default-icon.png' %}">
                </div>
                <i class="fa-regular fa-image"></i>
            </div>
            <div class="edit-username-container">
                <div class="edit-username-text">
                    {{ form.username.label }}
                    <p class="required">必須</p>
                </div>
                <p class="edit-username-counter"><span id="edit-username-count">0</span>/50</p>
            </div>
            {{ form.username }}
            <div class="edit-profile-contaier">
                <div class="edit-profile-text">
                    {{ form.profile.label }}
                </div>
                <p class="edit-profile-counter"><span id="edit-profile-count">0</span>/500</p>
            </div>
            {{ form.profile }}
        </table>
    </form>
</div>

<!-- 設定画面 -->
<div class="settings">
    <div class="settings-title-container">
        <i class="fa-solid fa-xmark settings-close"></i>
        <h1>設定</h1>
    </div>
    <div class="settings-container">
        <div class="account-settings">
            <h2>アカウントの設定</h2>
            <div class="email-change">
                <i class="fa-regular fa-envelope"></i>
                <div class="email-change-text">
                    <a href="{% url 'email_reset' %}">メールアドレスの変更</a>
                </div>
            </div>
            <div class="password-change">
                <i class="fa-solid fa-asterisk"></i>
                <div class="password-change-text">
                    <a href="{% url 'password_change' %}">パスワードの変更</a>
                </div>
            </div>
        </div>
        <div class="feedback">
            <i class="fa-regular fa-comment"></i>
            <div class="feedback-text">
                <p>フィードバックを送る</p>
            </div>
        </div>
        <div class="others">
            <div class="rules">
                <a href="{% url 'terms' %}" class="terms">利用規約</a>
                <p>・</p>
                <a href="{% url 'privacy_policy' %}" class="policy">プライバシーポリシー</a>
            </div>
            <div class="logout">
                <a href="{% url 'logout' %}" class="logout-link">ログアウト</a>
            </div>
            <div class="account-delete">
                <p class="account-delete-text">アカウントの削除は</p>
                <a href="{% url 'account_delete' object.id %}" class="account-delete-link">こちら</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'main/js/account.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // 「もっと見るボタン」
        const moreBtn = document.querySelector('.more-button');
        const accountProfile = document.querySelector('.account-profile-text');
        const accountProfileStr = accountProfile.textContent
        const accountProfileLength = accountProfileStr.length;
        if (accountProfileLength > 200) {
            accountProfile.textContent = accountProfileStr.substring(0, 200) + '...'
            moreBtn.addEventListener('click', function (ev) {
                accountProfile.textContent = '{{object.profile}}'
                moreBtn.style.display = 'none'
            })
        }
        else {
            moreBtn.style.display = 'none'
        }
    })
</script>
{% endblock %}