<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>動画共有アプリ</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% block extra_style %}{% endblock %}
</head>

<body>
    {% block header %}
    <header class="header">
        <div class="header__item">
            <div class="header__title">
                {% block header_title %}<a href="{% url 'home' %}">Video App</a>{% endblock %}
            </div>
            <a href="{% url 'video_upload' %}" class="header__link">
                <i class="far fa-times-circle fa-2x upload-icon"></i>
            </a>
        </div>
    </header>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer class="footer">
        <div class="footer__item">
            <a href="{% url 'home' %}" class="footer__link">
                <div class="footer__icon"><i class="fas fa-home"></i></div>
                <div class="footer__label">ホーム</div>
            </a>
        </div>
        <div class="footer__item">
            <a href="{% url 'search_video' %}" class="footer__link">
                <div class="footer__icon"><i class="fas fa-search"></i></div>
                <div class="footer__label">検索</div>
            </a>
        </div>
        <div class="footer__item">
            <a href="" class="footer__link">
                <div class="footer__icon"><i class="fas fa-user-friends"></i></div>
                <div class="footer__label">フォロー中</div>
            </a>
        </div>
        <div class="footer__item">
            <a href="" class="footer__link">
                <div class="footer__icon"><i class="fas fa-user"></i></div>
                <div class="footer__label">アカウント</div>
            </a>
        </div>
    </footer>
    {% endblock %}
    {% block extra_js %}{% endblock %}
</body>

</html>