<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>動画共有アプリ</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    {% block extra_style %}{% endblock %}
</head>

<body>
    {% block header %}
    <header class="header">
        <div class="header__title">
            {% block header_title %}
            <h1>Video App</h1>
            <i class="fa-solid fa-plus"></i>
            {% endblock %}
        </div>
    </header>
    {% endblock %}
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
    <footer class="footer">
        <div class="footer__item">
            <a href="" class="footer__link">
                <div class="footer__icon"><i class="fas fa-house"></i></div>
                <div class="footer__label">ホーム</div>
            </a>
        </div>
        <div class="footer__item">
            <a href="" class="footer__link">
                <div class="footer__icon"><i class="fas fa-solid fa-magnifying-glass"></i></div>
                <div class="footer__label">検索</div>
            </a>
        </div>
        <div class="footer__item">
            <a href="{% url 'following' %}" class="footer__link">
                <div class="footer__icon"><i class="fas fa-user-friends"></i></div>
                <div class="footer__label">フォロー中</div>
            </a>
        </div>
        <div class="footer__item">
            <a href="{% url 'my_account' %}" class="footer__link">
                <div class="footer__icon"><i class="fas fa-user"></i></div>
                <div class="footer__label">アカウント</div>
            </a>
        </div>
        {% endblock %}
        {% block extra_js %}{% endblock %}
</body>

</html>