{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/password_reset_confirmation.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="password-reset-form-container">
    <h1>Video App</h1>
    <h1>パスワードリセット</h1>
    <form method="POST" class="password-reset-form">
        {% csrf_token %}
        <p class="password-reset-form-text">{{email}}に数字4桁の認証コードを送信しました。<br>下のテキストボックスに記入してください。</p>
        {% for message in messages %}
        <div class="registration-form-error">{{ message }}</div>
        {% endfor %}
        <div class="password-reset-form-field">
            {{ form.code }}
        </div>
        <p class="caption">メールが届きませんか？</p>
        <button class="regenerate-code-btn" type="button">
            <span>再送する</span>
            <p class="send-email-notice"></p>
        </button>
        <button type="submit" class="password-reset-form-btn">認証してパスワード登録に進む</button>
        <p class="cancel-link">
            <a href="#" onclick="window.history.back(); return false;">
                <span>キャンセル</span>
            </a>
        </p>
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block extra_js %}
<script>
    const url = new URL(window.location.href);
    const params = url.searchParams;
    const sendRequest = () => {
        const xhr = new XMLHttpRequest();
        const email = "{{email}}";
        const queryString = new URLSearchParams({ 'email': email }).toString();
        const requestPath = url + '?' + queryString;
        xhr.open('GET', requestPath)
        xhr.responseType = "document"
        xhr.send()
        xhr.onreadystatechange = () => {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    const sendEmailNotice = document.querySelector('.send-email-notice')
                    sendEmailNotice.innerHTML = "メールを再送信しました。"
                }
                else {
                    window.alert('通信に失敗しました')
                }
            }
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        const regenerateCodeBtn = document.querySelector('.regenerate-code-btn')
        regenerateCodeBtn.addEventListener('click', function (ev) {
            sendRequest();
        })
    })
</script>
{% endblock %}