{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/password_change.css' %}">
{% endblock %}

{% block header %}
<header class="header">
    <div class="header__item">
        <a href="#" onclick="window.history.back(); return false;" class="header__link">
            <i class="fas fa-arrow-left fa-2x"></i>
        </a>
        <div class="header__title">
            {% block header_title %}パスワードの変更{% endblock %}
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="password-change-container">
    <form action="{% url 'password_change' %}" method="POST" class="password-change-form-container">
        {% csrf_token %}
        {% if field.errors %}
        <ul class="form-field__errors">
            {% for err in field.errors %}
            <li>{{ err }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="password-change-form">
            {{form.old_password}}
        </div>
        <div class="password-change-form">
            {{form.new_password1}}
        </div>
        <div class="password-change-form">
            {{form.new_password2}}
        </div>
        <button class="password-change-btn" type="submit">新しいパスワードを登録</button>
    </form>
    <p class="cancel-link">
        <a href="#" onclick="window.history.back(); return false;">
            <span>キャンセル</span>
        </a>
    </p>
</div>
{% endblock %}