{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/password_change.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="password-reset-form-container">
    <h1>Video App</h1>
    <h1>パスワードリセット</h1>
    <form action="{% url 'password_change' token %}" method="POST" class="password-change-form">
        {% csrf_token %}
        {% if form.errors %}
        {% for error in form.non_field_errors %}
        <div class="password-reset-form-error">{{ error }}</div>
        {% endfor %}
        {% endif %}
        <p class="password-reset-form-text">新しいパスワードの設定を行なってください。</p>
        <div class="password-reset-form-field">
            {{ form.new_password1 }}
        </div>
        <div class="password-reset-form-field">
            {{ form.new_password2 }}
        </div>
        <button type="submit" class="password-reset-form-btn">認証してパスワード登録に進む</button>
        <p class="cancel-link">
            <a href="{% url 'login' %}">
                <span>キャンセル</span>
            </a>
        </p>
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}