{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/password_reset_email.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="password-reset-form-container">
    <h1>Video App</h1>
    <h1>パスワードリセット</h1>
    <form action="{% url 'password_reset_email' %}" method="POST" class="password-reset-form">
        {% csrf_token %}
        {% if form.errors %}
        <div class="password-reset-form-error">{{form.email.errors}}</div>
        {% endif %}
        <div class="password-reset-form-field">
            {{ form.email }}
        </div>
        <button type="submit" class="password-reset-form-btn">認証コードを送信</button>
    </form>
    <p class="cancel-link">
        <a href="#" onclick="window.history.back(); return false;">
            <span>キャンセル</span>
        </a>
    </p>
</div>
{% endblock %}

{% block footer %}
{% endblock %}