{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/temp_registration.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="registration-form-container">
    <h1>Video App</h1>
    <h1>アカウント作成</h1>
    <form action="{% url 'temp_registration_done' user.id %}" method="POST" class="registration-form">
        {% csrf_token %}
        {% if form.errors %}
        <div class="registration-form-error">入力された認証コードが正しくありません。</div>
        {% endif %}
        <p class="registration-form-text">{{user.email}}に数字4桁の認証コードを送信しました。<br>下のテキストボックスに記入してください。</p>
        <div class="registration-form-field">
            <label for="{{ form.code.id_for_label }}">認証コード</label>
            {{ form.code }}
        </div>
        <button type="submit" class="registration-form-btn">認証してパスワード登録に進む</button>
    </form>
    <p class="caption">メールが届きませんか</p>
    <a href="">
        <span>再送する</span>
    </a>
</div>
{% endblock %}

{% block footer %}
{% endblock %}