{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/video_search.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="video-container">
    <div class="inner-block">
        <form method="get" action="{% url 'search_video' %}" class="search-container">
            {{form.keyword}}
        </form>
        <div class="button-container">
            <button class="search-button active">新着の動画</button>
            <button class="search-button">人気の動画</button>
        </div>
    </div>
    <div class="video-list-container">
        {% for video in object_list %}
        <div class="video-information-container">
            <a class="video-thumbnail-wrapper" href="{% url 'video_play' video.id %}">
                <img src="{{video.thumbnail_url}}">
            </a>
            <div class="video-detail-container">
                <a href="{% url 'account' video.user.id %}" class="icon-wrapper">
                    <img src="{{ video.user.icon_url }}">
                </a>
                <div class="text-wrapper">
                    <p class="video-title">{{video.title}}</p>
                    <div class="video-detail-wrapper">
                        <p class="video-creator">{{video.user.username}}</p>
                        <span>・</span>
                        <p class="video-views">{{video.views_count}}回視聴</p>
                        <span>・</span>
                        <p class="video-uploaded-at">{{video.get_elapsed_time}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block extra_js %}
<script src="{% static 'main/js/video_search.js' %}"></script>
<script>
    const url = new URL(window.location.href);
    const params = url.searchParams;

    document.addEventListener('DOMContentLoaded', function () {


        const searchButtonList = document.querySelectorAll(".search-button");
        searchButtonList.forEach(function (element, index) {
            element.addEventListener("click", function (ev) {
                // ボタンデザインの切り替え
                var preActiveButton = document.querySelector(".active")
                preActiveButton.classList.remove("active")
                element.classList.add("active")
                // 「人気の動画」を選択すると閲覧回数が多い順に表示する
                const xhr = new XMLHttpRequest();
                const url = window.location.href.replace(/\?.*$/, "");
                if (element == searchButtonList[1]) {
                    const queryString = new URLSearchParams({ "btnType": "favorite", "keyword": "{{keyword}}" }).toString();
                    const requestPath = url + "?" + queryString;
                    xhr.open("GET", requestPath);
                    xhr.responseType = "document";
                    xhr.send();
                    xhr.onreadystatechange = () => {
                        if (xhr.readyState == 4) {
                            if (xhr.status == 200) {
                                const res = xhr.response;
                                const videoList = document.querySelector(".video-list-container")
                                const newDom = res.querySelectorAll(".video-information-container");
                                const oldDom = document.querySelectorAll(".video-information-container")
                                if (newDom) {
                                    oldDom.forEach((element) => {
                                        videoList.removeChild(element);
                                    });
                                    newDom.forEach((element) => {
                                        videoList.appendChild(element);
                                    });
                                }
                            }
                            else {
                                window.alert("通信に失敗しました。");
                            }
                        }
                    }
                }
                else {
                    const queryString = new URLSearchParams({ "btnType": "all", "keyword": "{{keyword}}" }).toString();
                    const requestPath = url + "?" + queryString;
                    xhr.open("GET", requestPath);
                    xhr.responseType = "document";
                    xhr.send();
                    xhr.onreadystatechange = () => {
                        if (xhr.readyState == 4) {
                            if (xhr.status == 200) {
                                const res = xhr.response;
                                const videoList = document.querySelector(".video-list-container")
                                const newDom = res.querySelectorAll(".video-information-container");
                                const oldDom = document.querySelectorAll(".video-information-container")
                                if (newDom) {
                                    oldDom.forEach((element) => {
                                        videoList.removeChild(element);
                                    });
                                    newDom.forEach((element) => {
                                        videoList.appendChild(element);
                                    });
                                }
                            }
                            else {
                                window.alert("通信に失敗しました。");
                            }
                        }
                    }
                }
            })
        })
    })
</script>
{% endblock %}