{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/video_update.css' %}">
{% endblock %}

{% block header %}
<header class="header">
    <div class="header__item">
        <a href="#" onclick="window.history.back(); return false;" class="header__link">
            <i class="fa-solid fa-xmark fa-2x"></i>
        </a>
        <div class="header__title">
            {% block header_title %}動画の編集{% endblock %}
        </div>
        <a class="delete-btn">削除</a>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="update-form-container">
    <form method="POST" class="update-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
        <div class="update-form-error">{{form.email.errors}}</div>
        {% endif %}
        <div class="thumbnail-form-field">
            <img class="thumbnail-preview" src="{% static 'main/img/sample.jpeg' %}">
            <label>
                <i class="far fa-images"></i>
                {{ form.thumbnail }}
            </label>
        </div>
        <div class="inner-block">
            <div class="title-form-field">
                <div class="title-form-lead">
                    <label class="title-form-label" for="{{form.title.label}}">タイトル</label>
                    <p class="title-form-counter"><span id="title-form-count">0</span>/50</p>
                </div>
                {{ form.title }}
            </div>
            <hr>
            <div class="description-form-field">
                <div class="description-form-lead">
                    <label for="{{form.description.label}}">詳細文</label>
                    <p class="description-form-counter"><span id="description-form-count">0</span>/500</p>
                </div>
                {{ form.description }}
            </div>
            <button type="submit" class="update-form-btn">保存</button>
        </div>
    </form>
</div>

<div class="delete-form-container closed">
    <form class="delete-form" method="POST" action="{% url 'video_delete' object.pk %}">
        {% csrf_token %}
        <p class="form-title">動画を本当に削除しますか？</p>
        <div class="popup-btn-group">
            <button type="button" class="cancel-btn">キャンセル</button>
            <button type="submit" class="delete-btn">削除する</button>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'main/js/video_update.js' %}"></script>
{% endblock %}