.video-container {
    padding-top: 64px;
}

.video-list-container {
    padding: 64px 0;
}

.video-information-container {
    margin-bottom: 1rem;
}

.video-thumbnail-wrapper {
    display: block;
    position: relative;
    width: 100%;
}

.video-thumbnail-wrapper::before {
    padding-top: 56%;
    display: block;
    content: "";
}

.video-thumbnail-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
}

.video-detail-container {
    padding-left: 4vw;
    padding-right: 4vw;
    display: flex;
    margin-top: 0.75rem;
}

.icon-wrapper {
    display: block;
    margin-right: 0.75rem;
}

.icon-wrapper img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.video-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.video-detail-wrapper {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.6);
}