.video-player-container {
    padding-top: 64px;
}

.video-information-container {
    margin-top: 0.75rem;
    padding: 0 4vw 64px 4vw;
}

.user-information-wrapper {
    margin-right: 0.75rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center;
}

.user-information-wrapper img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 0.75rem;
}

.video-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.video-detail-wrapper {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.6);
}

hr {
    background-color: rgba(0, 0, 0, 0.12);
}

.description-wrapper {
    margin-top: 1.25rem;
    position: relative;
}

.more-button {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.more-button:hover {
    opacity: 0.6;
}